* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
}

header p {
    font-size: 20px;
}

.pads {
    background: lightblue;
    width: 100%;
    display: flex;
    
}

.pads > div{
    height: 100px;
    width: 100px;
    flex: 1;
}

.pad1{
    background: rgb(241, 106, 135);
}

.pad2{
    background: rgb(238, 138, 208);
}

.pad3 {
    background: rgb(231, 155, 238);
}

.pad4 {
    background: rgb(188, 159, 241);
}

.pad5 {
    background: rgb(95, 164, 241);
}

.pad6{
    background: rgb(118, 240, 240);
}

.pad7 {
    background: rgb(97, 240, 180);
}

.pad8 {
    background: rgb(163, 243, 125);
}

.pad9 {
    background: rgb(235, 236, 151);
}

.visual > div {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
    left: 20%;
    bottom: 0%;
    z-index: -1;
}

@keyframes jump{
    0%{
        bottom: 0%;
        left: 20%;

    }
    50%{
        bottom: 50%;
        left: 50%;
    }
    100%{
        bottom: 0%;
        left: 80%;
         
    }
}

.visual > div{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
}